/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";


h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

a {
    color: blue;
    text-decoration: underline;
}